@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #0b5ce0;
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
