@import 'tailwindcss';

@theme {
	--color-primary-50: oklch(0.9838770389851438 0.015534242079833713 293.796);
	--color-primary-100: oklch(0.9237717474909257 0.029986898506779654 293.796);
	--color-primary-200: oklch(0.834510916949111 0.05632269227038865 293.796);
	--color-primary-300: oklch(0.714916096737734 0.10082609282360304 293.796);
	--color-primary-400: oklch(0.575 0.1672390653939703 293.796);
	--color-primary-500: oklch(0.43508390326226587 0.25 293.796);
	--color-primary-600: oklch(0.3154890830508889 0.16723906539397032 293.796);
	--color-primary-700: oklch(0.2262282525090742 0.10082609282360305 293.796);
	--color-primary-800: oklch(0.16612296101485616 0.05632269227038861 293.796);
	--color-primary-900: oklch(0.12840332979982422 0.029986898506779602 293.796);
	--color-primary-950: oklch(0.10576885935714803 0.015534242079833727 293.796);

	--color-secondary-50: oklch(0.9838770389851438 0.015534242079833713 236.62);
	--color-secondary-100: oklch(0.9237717474909257 0.029986898506779654 236.62);
	--color-secondary-200: oklch(0.834510916949111 0.05632269227038865 236.62);
	--color-secondary-300: oklch(0.714916096737734 0.10082609282360304 236.62);
	--color-secondary-400: oklch(0.575 0.1672390653939703 236.62);
	--color-secondary-500: oklch(0.43508390326226587 0.25 236.62);
	--color-secondary-600: oklch(0.3154890830508889 0.16723906539397032 236.62);
	--color-secondary-700: oklch(0.2262282525090742 0.10082609282360305 236.62);
	--color-secondary-800: oklch(0.16612296101485616 0.05632269227038861 236.62);
	--color-secondary-900: oklch(0.12840332979982422 0.029986898506779602 236.62);
	--color-secondary-950: oklch(0.10576885935714803 0.015534242079833727 236.62);

	--color-gray-50: oklch(0.9838770389851438 0.001941780259979214 293.796);
	--color-gray-100: oklch(0.9237717474909257 0.003748362313347457 293.796);
	--color-gray-200: oklch(0.834510916949111 0.007040336533798581 293.796);
	--color-gray-300: oklch(0.714916096737734 0.01260326160295038 293.796);
	--color-gray-400: oklch(0.575 0.020904883174246287 293.796);
	--color-gray-500: oklch(0.43508390326226587 0.03125 293.796);
	--color-gray-600: oklch(0.3154890830508889 0.02090488317424629 293.796);
	--color-gray-700: oklch(0.2262282525090742 0.012603261602950382 293.796);
	--color-gray-800: oklch(0.16612296101485616 0.007040336533798576 293.796);
	--color-gray-900: oklch(0.12840332979982422 0.0037483623133474503 293.796);
	--color-gray-950: oklch(0.10576885935714803 0.0019417802599792158 293.796);
}

@custom-variant landscape {
	@media (orientation: landscape) {
		@slot;
	}
}

@custom-variant portrait {
	@media (orientation: portrait) {
		@slot;
	}
}

* {
	scrollbar-color: var(--color-primary-500) transparent;
}
